# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Local environment configuration
.env
.env.*
!.env.example

# Build artifacts
CareWeave-darwin-x64.zip
CareWeave-linux-x64.tar.gz
CareWeave-windows-x64.zip

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
